SAID_MVCWebApplication/SAID_MVCWebApplication.Tests/Service References/SAID_ServiceReference/SAIDGeneratorService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:23670/SAIDGeneratorService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SAID_RESTGeneratorService.App_Code" />
  <xs:element name="GenerateRandomSAIDNumber">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerateRandomSAIDNumberResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SAID_RESTGeneratorService.App_Code" minOccurs="0" name="GenerateRandomSAIDNumberResult" nillable="true" type="q1:SAIDGeneratorResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateSAIDNumber">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IDNumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateSAIDNumberResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SAID_RESTGeneratorService.App_Code" minOccurs="0" name="ValidateSAIDNumberResult" nillable="true" type="q2:SAIDGeneratorResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>